<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot name="chair_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="chair" params="prefix x y theta">
  <xacro:property name="mesh_dir" value="package://env_description/tieta_env/assets/interactive/chair/meshes" />
    <link name="${prefix}_base_link">
      <!-- <inertial>
        <origin xyz="2.3616E-05 0.0277 0.63069" rpy="0 0 0" />
        <mass value="33.685" />
        <inertia ixx="2.2598" ixy="0.0001525" ixz="6.8063E-05" iyy="1.9826" iyz="0.62878" izz="1.575" />
      </inertial> -->
      <visual>
        <origin xyz="-0.45 0 -0.65" rpy="1.57 0 -1.57" />
        <geometry>
          <mesh filename="${mesh_dir}/chair.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <!-- <collision>
        <origin xyz="-0.45 0 -0.65" rpy="1.57 0 -1.57" />
        <geometry>
          <mesh filename="${mesh_dir}/chair.STL" />
        </geometry>
      </collision> -->
    </link>

    <link name="${prefix}_chair_interactive_part">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.13 0.28"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.13 0.28" scale="1.1 1.1 1.1"/>
        </geometry>
      </collision>
    </link>

    
    

    <joint name="world_${prefix}_chair" type="fixed">
      <origin xyz="${x} ${y} 1.3" rpy="0 0 ${theta}" />
      <parent link="world" />
      <child link="${prefix}_base_link" />
    </joint>

    <!-- <link name="${prefix}_chair_virtual_base_x"/>
    <joint name="world_${prefix}_w_x" type="prismatic">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}_chair_virtual_base_x" />
      <child link="${prefix}_chair_virtual_base_y" />
      <axis xyz="1 0 0"/>
      <limit effort="20" velocity="5.0" lower="-10" upper="10"/>
    </joint> -->

    <!-- <link name="${prefix}_chair_virtual_base_y"/>
    <joint name="world_${prefix}_x_y" type="prismatic">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}_chair_virtual_base_y" />
      <child link="${prefix}_chair_virtual_base_theta" />
      <axis xyz="0 1 0"/>
      <limit effort="20" velocity="5.0" lower="-10" upper="10"/>
    </joint>

    <link name="${prefix}_chair_virtual_base_theta"/>
    <joint name="world_${prefix}_y_theta" type="revolute">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}_chair_virtual_base_theta" />
      <child link="${prefix}_base_link" />
      <axis xyz="0 0 1"/>
      <limit effort="20" velocity="5.0" lower="-3.14" upper="3.14"/>
    </joint> -->



     <joint name="chair_${prefix}_interactive" type="fixed">
      <origin xyz="-0.225 0 0" rpy="0 0 0" />
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_chair_interactive_part" />
    </joint>



  </xacro:macro>
</robot>