<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="table_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="teapoy" params="prefix x y z theta">
    <link name="${prefix}_teapoy_base_link"/>
    <joint name="${prefix}_teapoy_base_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="0 0 ${theta}" />
      <parent link="world" />
      <child link="${prefix}_teapoy_base_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="${prefix}_teapoy_link">
      <inertial>
        <origin xyz="0 1.66533453693773E-16 0.739609856262833" rpy="0 0 0" />
        <mass value="97.4000000000001" />
        <inertia ixx="10.6298985078713" ixy="-1.55850332639318E-14" ixz="1.61645738949227E-14" iyy="22.2248985078712" iyz="1.27560526488281E-14" izz="29.9373333333332" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://env_description/tieta_env/assets/rigid/table_link.STL" scale="0.8 0.5 0.625" />
        </geometry>
        <material name="">
          <color rgba="0.564705882352941 0.564705882352941 0.564705882352941 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://env_description/tieta_env/assets/rigid/table_link.STL" scale="0.8 0.5 0.625"/>
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}_teapoy_joint" type="fixed">
      <origin xyz="0 0 -0.5" rpy="0 0 1.57" />
      <parent link="${prefix}_teapoy_base_link" />
      <child link="${prefix}_teapoy_link" />
      <axis xyz="0 0 0" />
    </joint>

    
  </xacro:macro>
</robot>