<?xml version="1.0"?>
<robot name="robot_coffee_table" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="coffee_table" params="prefix:=coffee_table parent:=world scale:=1 xyz rpy">
        <xacro:property name="pi" value="3.1415926" />
        <xacro:property name="mesh_dir" value="package://env_description/household_env/assets/rigid/meshes/coffee_table" />
        <joint name="${prefix}_world_joint" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}" />
            <parent link="${parent}" />
            <child link="${prefix}_base_link" />
        </joint>

        <link name="${prefix}_base_link" />
        <joint name="${prefix}_base_joint" type="fixed">
            <origin xyz="0 0 ${0.0*scale}" rpy="0 0 0" />
            <parent link="${prefix}_base_link" />
            <child link="${prefix}_base" />
        </joint>

        <link name="${prefix}_base">
            <visual>
                <origin xyz="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}/model.obj" scale="${scale} ${scale*2+0.2} ${scale+0.2}" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}/model.obj" scale="${scale} ${scale*2+0.2} ${scale+0.2}" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>
</robot>