<?xml version="1.0"?>
<robot name="robot_table_25569" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="table_25569" params="prefix:=table_25569 parent:=world scale:=1 xyz rpy">
        <xacro:property name="pi" value="3.1415926" />
        <xacro:property name="mesh_dir" value="package://env_description/household_env/assets/rigid/meshes" />
        <joint name="${prefix}_world_joint" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}" />
            <parent link="${parent}" />
            <child link="${prefix}_base_link" />
        </joint>

        <link name="${prefix}_base_link" />
        <joint name="${prefix}_base_joint" type="fixed">
            <origin xyz="0 0 0.56" rpy="${pi/2} 0 ${pi/2}" />
            <parent link="${prefix}_base_link" />
            <child link="${prefix}_base" />
        </joint>

        <link name="${prefix}_base">
            <visual>
                <origin xyz="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}/table_25569.obj" scale="${scale} ${scale} ${scale}" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 -0.22 0" />
                <geometry>
                    <box size="1.8 0.6 0.8" scale="${scale} ${scale} ${scale}" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>
</robot>